.heroTimer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.heroTimer .timeCount {
  height: 120px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -0.02em;
}

.heroTimer .timeCaptions {
  margin: 0 5px;
  height: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.heroTimer>div {
  margin: 0 10px;
}

@media only screen and (max-width: 1028px) {
  .heroTimer .timeCount {
    font-size: 5rem;
    line-height: 3.5rem;
  }

  .heroTimer .timeCaptions {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
}

@media only screen and (max-width: 520px) {
  .heroTimer .timeCount {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .heroTimer .timeCaptions {
    font-size: 1rem;
    line-height: 2.5rem;
  }

  .heroTimer>div {
    margin: 0 5px;
  }
}
