.timeline-wpr{
  height: calc(100vh + 2000px);
  background-color: black;
}
.timeline-wpr>div{
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-image: url(/assets/StarBackground.png);
}
.train{
  /*position: relative;*/
  background-image: url(/timeline/train3.png);
  background-position:left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -2000px;
  width: 2150px;
  height: calc(100vh - 220px);
}
.track{
  width: 100vw;
  background-image: url(/timeline/track.png);
  background-repeat: repeat-x;
  background-size:  auto 14px;
  background-position: top;
  height: 50px;
  bottom: 0;
}
