@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
